*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 1rem;
    font-size:large;
    padding: 3px;
}

nav ul li a {
    color: #f10d0d;
    text-decoration: none;
}
 nav ul li a:not(.active){
    color: floralwhite;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size:xx-large;
    font-weight: 500;
}

